/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
/* @import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Acme); */

@import "tailwindcss";

@import "tw-animate-css";

/* @font-face {
  font-family: "font-sf-pro-bold";
  src: url("/assets/fonts/SFPRODISPLAYBOLD.woff2") format("woff2");
}
@font-face {
  font-family: "font-sf-pro-regular";
  src: url("/assets/fonts/SFPRODISPLAYREGULAR.woff2") format("woff2");
}
@font-face {
  font-family: "font-sf-pro-medium";
  src: url("/assets/fonts/SFPRODISPLAYMEDIUM.woff2") format("woff2");
} */

@custom-variant dark (&:is(.dark *));
.border-red {
  border-color: var(--danger);
  border-width: 5px;
}

:root {
  /* oklch(0.52 0.11 200)
 */
  --primary-hue: 200;
  --purple: #402e7a;
  --primary: #005964;
  --primary-light: #25737d;
  --accent: #00d87e;
  --heading: #313132;
  --secondary-heading: #bebec2;
  --body: #ffffff;
  --sidebar-bg: #f5f7f9;
  --primary-gray: #cbd1d2;
  --smoke-100: #ffffff;
  --smoke-200: #f5f5f5;
  --smoke-300: #f0eeef;
  --smoke-400: #d6d6d6;
  --smoke-500: #bdbdbd;
  --smoke-600: #5b5b5b;
  --smoke-700: #08070c;
  /* change */
  --brown: #f9c74f;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #f6b500;
  --danger: #ca2f7f;
  --light: #f8f9fa;
  --dark: #252525;
  --txt-mute: #ababab;
  --mute-200: #696969;
  --gray: #696969;
  --radius: 0.625rem;
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  /* --accent: oklch(0.97 0 0); */
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-neutral-200);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  /* --sidebar: oklch(0.985 0 0); */
  --sidebar: oklch(0.985 0.005 var(--primary-hue));
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.985 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-font-1: font-1;
  --font-font-2: font-2;
  --font-font-3: font-3;
  --font-font-4: font-4;
}

.border-red {
  border-color: var(--danger);
  border-width: 5px;
}
@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";
  --color-purple: var(--purple);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brown: var(--brown);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-txt-mute: var(--txt-mute);
  --color-mute-200: var(--mute-200);
  --font-font-1: font-1, sans-serif;
  --font-font-2: font-2, sans-serif;
  --font-font-3: font-3, sans-serif;
  --font-font-4: font-4, sans-serif;
  --color-primary-gray: var(--primary-gray);
  --color-sidebar-bg: var(--sidebar-bg);
  --color-heading: var(--heading);
  --color-primary-gray: var(--primary-gray);
  --color-secondary-heading: var(--secondary-heading);
  --color-body: var(--body);
  --color-primary-light: var(--primary-light);
  --color-accent: var(--accent);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  /* --font-mono:
    ui-monospace, Menlo, Monaco, "Poppins Mono", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace; */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-smoke-100: var(--smoke-100);
  --color-smoke-200: var(--smoke-200);
  --color-smoke-300: var(--smoke-300);
  --color-smoke-400: var(--smoke-400);
  --color-smoke-500: var(--smoke-500);
  --color-smoke-600: var(--smoke-600);
  --color-smoke-700: var(--smoke-700);
}

body {
  font-size: 0.8rem;
  background: var(--body);
  color: var(--smoke-700);
  /* font-family: "font-sf-pro-regular", sans-serif; */
}
.container {
  width: min(90%, 1280px);
  margin: 0 auto;
}
.border-red {
  border-color: var(--danger);
  border-width: 5px;
}
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

button {
  cursor: pointer;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }
  h6 {
    @apply text-sm font-bold;
  }
}
#editorjs {
  height: auto;
}
.codex-editor__redactor {
  padding-bottom: 0 !important;
}
/* react-select */

.react-select__control {
  /* border-color: var(--border) !important; */
  border-radius: var(--radius) !important;
  min-height: 10px !important;
}

.blurry-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.043);
  z-index: 9999;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(1000px);
  display: flex;
}

.react-select__indicator {
  padding: 7px !important;
}

.react-select__indicator-separator {
  display: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  text-align: right;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.scanner-effect {
  background: linear-gradient(to right, rgba(0, 255, 0, 0.29), rgba(0, 255, 0, 0.1));
  animation: scanner-effect 0.9s linear infinite alternate;
}
button[data-lit="true"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 120%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.35), transparent);
  transition: left 0.5s ease;
  z-index: -1;
  animation: shimmer 2s ease-in-out infinite alternate;
}
div[data-slot="sidebar-content"] {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
/* change scrollbar color for body */
/* body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: var(--smoke-600);
  border-radius: 10px;
} */

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes arise {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes scanner-effect {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
